@charset "UTF-8";

@font-face {
  font-family: 'Syne Local';
  src: url('../fontes/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Local';
  src: url('../fontes/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root{
    --font-titulos: 'Syne Local', sans-serif;
    --font-textos: 'Inter Local', sans-serif;

    --fundo-principal: #0b0f19;
    --texto: #f8fafc;
    --texto-inverso: #0b0f19; 
    --destaque: #f7df1e;
    --destaque-inverso: #0b0f19;
    --fundo-card: #161b26;
    --borda: #242c3d; 
}

/* 
body.light-mode
  --fundo-principal: #f8fafc;
  --texto: #0b0f19;
  --texto-inverso: #f8fafc;
  --destaque: #d1b800;
  --destaque-inverso: #ffffff;
  --fundo-card: #ffffff;
  --borda: #e2e8f0;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: var(--font-textos);
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
  padding-left: 260px; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
 position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background-color: var(--fundo-card);
  border-right: 1px solid var(--borda);
  padding: 40px 24px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  gap: 60px;    
}

header h1{
  font-family: var(--font-titulos);
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.15em;
  max-width: 100%;
  text-align: center;
  background: linear-gradient(135deg, #fff500 0%, #ffb703 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.493));
}

nav#menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

nav#menu a{
  text-decoration: none;
  color: var(--texto);
  background-color: rgba(255, 255, 255, 0.02);
  font-size: 1.2em;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid var(--borda);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

nav#menu a:hover{
  background-color: var(--destaque);
  color: var(--texto-inverso);
  border-color: var(--destaque);
  transform: translateX(6px);
}

main{

}

section#apresentacao {
  max-width: 850px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

section#apresentacao h2{
  font-family: var(--font-titulos);
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2em;
  color: var(--destaque);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.856);
}

section#apresentacao p {
  font-family: var(--font-textos);
  font-size: 1.2em;
  line-height: 1.5em;
}

footer{
  background-color: var(--fundo-card);
}